#grad {
    background-image: linear-gradient(rgb(247, 202, 201), rgb(255, 193, 150));
}
img {
    width: 400px;
}
body {
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: bold;
    background-image: linear-gradient(rgb(247, 202, 201), rgb(146, 168, 209));
    color: brown;
}
#introsentence {
    text-decoration: underline;
}
.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }
