img {
    width: 600px;
}

body {
    text-align: center;
    background: rgb(238, 235, 229);
    color: blue;
}

#counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


button {
    position: relative;
    z-index: 1000;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    background-color: orange;
    color: white;
    cursor:pointer;
}

button:hover {
    background-color: darkorange;
}

#cps {
    margin-left: 10px;
    font-weight: bold;
    color: red;
}