body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background-color: #f0e6d6;
    margin-top: 50px;
}

h1 {
    font-size: 32px;
    color: #5c3a07;
}

h2 {
    font-size: 24px;
    color: #61471f;
}

.cookie-img {
    width: 500px;
    height: 500px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
.cookie-img:active {
  transform: scale(0.9);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.reset-button {
    background-color: rgba(137, 77, 66, 0.781);
    color: white;
    border: none;
    height: 35px;
    width: 105px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px
  }

.reset-button:hover {
    transform: scale(1.2);
  }


