
body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: azure;
    color: black;
}

h1, h2 {
    font-weight: bold;
}

img {
    width: 200px;
    height: auto;
    transition: transform 0.1s;
}

img:active {
    transform: scale(0.9);
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#store, #customization {
    margin-top: 20px;
}
